# please make sure that any new *keys* you add here
# are also added to config.sample.py

config = {

    'debug_is_mobile': False,

    'flickr_apikey' : 'YER_FLICKR_APIKEY',
    'flickr_apisecret' : 'YER_FLICKR_APISECRET',
    'flickr_minperms' : 'read',

    'twitter_notify' : True,
    'twitter_username' : 'YER_TWITTER_USERNAME',
    'twitter_password' : 'YER_TWITTER_PASSWORD',

    'javascript_logging' : 1,
    };
