<div id="error" class="error"></div>
<ul id="faves_list">
{% for f in faves %}

{% ifequal f.category 'comments' %}

{% if f.commentor_nsid %}

<li id="fave_{{ f.key|escape }}" class="fave">

<a href="/faves/{{ f.creator_nsid|escape }}/comments">{{ f.creator|escape}}</a> faved a <a href="{{ f.url|escape }}" target="_what" class="comment">comment</a> by <a href="/faved/{{ f.commentor_nsid|escape }}/comments/">{{ f.commentor|escape }}</a> <span class="faved_date">on {{ f.date_created|date:"F jS"|escape }}</span>

{% include "inc_delete_fave.html" %}
</li>

{% else %}

<li id="fave_{{ f.key|escape }}" class="fave">

<a href="/faves/{{ f.creator_nsid|escape }}/comments">{{ f.creator|escape}}</a> faved a <a href="{{ f.url|escape }}" target="_what" class="comment">comment</a> on one of <a href="/faved/{{ f.commentor_nsid|escape }}/comments/">{{ f.owner|escape }}</a>'s photos <span class="faved_date">on {{ f.date_created|date:"F jS"|escape }}</span>

{% include "inc_delete_fave.html" %}
</li>

{% endif %}

{% else %}

{% ifequal f.category 'people' %}

<li id="fave_{{ f.key|escape }}" class="fave">

<a href="/faves/{{ f.creator_nsid|escape }}/{{ f.category|escape }}">{{ f.creator|escape }}</a> faved a <a href="{{ f.url|escape }}" target="_what" class="{{ f.category_singular|escape }}">user</a> {% ifequal f.owner 'something' %}{% else %}named <span class="username">{{ f.owner|escape }}</span>{% endifequal %} <span class="faved_date">on {{ f.date_created|date:"F jS"|escape }}</span>

{% include "inc_delete_fave.html" %}
</li>

{% else %}

<li id="fave_{{ f.key|escape }}" class="fave">

  <a href="/faves/{{ f.creator_nsid|escape }}/{{ f.category|escape }}">{{ f.creator|escape}}</a> faved a <a href="{{ f.url|escape }}" target="_what" class="{{ f.category_singular|escape }}">{{ f.category_singular|escape }}</a> {% ifequal f.category 'groups' %}called <span class="groupname">{{ f.owner|escape }}</span>{% else %}by <a href="/faved/{{ f.owner_nsid|escape }}/{{ f.category|escape }}/">{{ f.owner|escape }}</a>{% endifequal %} <span class="faved_date">on {{ f.date_created|date:"F jS"|escape }}</span>

{% include "inc_delete_fave.html" %}
</li>

{% endifequal %}
{% endifequal %}

{% endfor %}

{% if rss_feed %}
<li class="rss" style="margin-top:20px;font-size:11px;"><a href="{{ rss_feed }}" style="color:#FF0084;text-decoration:none;background-color:pink;padding:10px;">rss</a></li>
{% endif %}

</ul>
