{% include "inc_head.html" %}

{% if error %}
<p class="error">Hrmph! Adding that as a fave didn't work. The robot monkeys report: {{ error|escape }}</a>
{% endif %}

{% if faved %}
<p class="success">Yay! ... has been faved.</p>
{% endif %}

<form method="POST" style="margin-top:50px;">
	<input type="text" size="40" value="" name="url" style="font-size:1.5em;border:10px solid pink;color:darkslategrey;padding:10px;font-weight:700;background-color:beige;" />
	<input type="hidden" name="crumb" value="{{ fave_crumb|escape }}" />
	<input type="submit" value="FAVE THIS" style="font-size:1.5em; border:10px solid pink;padding:10px;margin-left:15px;font-weight:700;" />
</form>

{% include "inc_foot.html" %}
