{% include "inc_head.html" %}

{% if error %}
<p class="error">Hrmph! Adding that as a fave didn't work. The robot monkeys report: {{ error|escape }}</a>
{% endif %}

{% if faved %}
<div id="okay">

<img src="/images/egg.gif" width="80" height="62" style="float:left;margin-right:30px;"/>
{% ifequal fave.category 'comments' %}
<h3>Woo hoo! You faved that comment!!</h3>
{% endifequal %}

{% ifequal fave.category 'galleries' %}
<h3>Woo hoo! You faved that gallery!!</h3>
{% endifequal %}

{% ifequal fave.category 'sets' %}
<h3>Woo hoo! You faved that set!!</h3>
{% endifequal %}

{% ifequal fave.category 'collections' %}
<h3>Woo hoo! You faved that collections!!</h3>
{% endifequal %}

<br clear="all" />
<script type="text/javascript">
$('#okay').fadeOut(3000, function() {} );
</script>
</div>

{% endif %}

<form method="POST" style="margin-top:40px;">
	<input type="hidden" name="crumb" value="{{ fave_crumb|escape }}" />
	<input type="text" {% if browser.mobile %}size="15"{% else %}size="40%"{% endif %} value="{% if faved %}{{ fave.url|escape }}{% else %}{{ url|escape }}{% endif %}" name="url" id="fave_input" />
	<input type="submit" value="FAVE THIS" id="fave_submit" />
</form>

<p style="color:#adadad;font-size:11px;">Paste a URL into the box to fave it.</p>

<div style="font-size:11px;color:#666;margin-top:50px;">

<ul id="menu">
{% if browser.mobile %}
<li><a href="/faves">Recently faved items</a>.</li>
<li><a href="faves/me">Your faved items</a>.</li>
<li>All faves are public.</li>
{% else %}
<li>All faves are public.</li>
<li>There is <a href="/faves">a page with recently faved items</a>.</li>
<li>There is <a href="faves/me">a page with all your faves</a>.</li>

<li>You can <a href="/export">export all of your faves</a>.</li>

<li style="margin-top:15px;">You can also fave something by going to:<br />&#160;&#160;&#160;&#160;<a style="font-style:italic;" href="#" onclick="alert('Silly rabbit! You can\'t fave \'SOME_FLICKR_URL\'. You need to include a real-live Flickr URL.');return false;">http://thingsicantfave.appspot.com?url=SOME_FLICKR_URL</a></li>
{% endif %}

</ul>
</div>

{% include "inc_foot.html" %}
