{% include "inc_head.html" %}

{% if error %}
<p class="error">Hrmph! Adding that as a fave didn't work. The robot monkeys report:

{% ifequal error 'no_url' %}
No Flickr URL was supplied.
{% endifequal %}

{% ifequal error 'invalid_crumb' %}
(crumb)
{% endifequal %}

{% ifequal error 'cannot_parse' %}
Unable to parse that URL because

{% ifequal parse_error 'url' %}
 it doesn't even look like a URL!
{% endifequal %}

{% ifequal parse_error 'invalid' %}
 it doesn't look like a Flickr URL!
{% endifequal %}

{% ifequal parse_error 'owner' %}
 we couldn't get user information from Flickr!
{% endifequal %}

{% ifequal parse_error 'owner_unknown' %}
 Flickr wouldn't tell us who that user is.
{% endifequal %}

{% ifequal parse_error 'comment' %}
 we can't figure out who the comment owner is.
{% endifequal %}

{% ifequal parse_error 'other' %}
 that looks like something you (drumroll) can't fave.

<span style="font-size:small; color:#666;"><a href="/about">Here are the list of things you <em>can</em> fave</a>.</span>
{% endifequal %}

{% ifequal parse_error 'unknown' %}
 uh... uh... *explodes*
{% endifequal %}

{% endifequal %}

{% ifequal error 'is_own' %}
You can not fave your own stuff!
{% endifequal %}

{% ifequal error 'already_faved' %}
You've already faved that!
{% endifequal %}

{% ifequal error 'cannot_add' %}
It looks like the database is freaking out. How awesome is that?!
{% endifequal %}

</a>
{% endif %}

{% if faved %}
<div id="okay">

<img src="/images/egg.gif" width="80" height="62" style="float:left;margin-right:30px;"/>
{% ifequal fave.category 'comments' %}
<h3>Woo hoo! You faved that comment!!</h3>
{% endifequal %}

{% ifequal fave.category 'galleries' %}
<h3>Woo hoo! You faved that gallery!!</h3>
{% endifequal %}

{% ifequal fave.category 'sets' %}
<h3>Woo hoo! You faved that set!!</h3>
{% endifequal %}

{% ifequal fave.category 'collections' %}
<h3>Woo hoo! You faved that collections!!</h3>
{% endifequal %}

<br clear="all" />
<script type="text/javascript">
$('#okay').fadeOut(3000, function() {} );
</script>
</div>

{% endif %}

<form method="POST" style="margin-top:40px;">
	<input type="hidden" name="crumb" value="{{ fave_crumb|escape }}" />
	<input type="text" {% if browser.mobile %}size="15"{% else %}size="40%"{% endif %} value="{% if faved %}{{ fave.url|escape }}{% else %}{{ url|escape }}{% endif %}" name="url" id="fave_input" />
	<input type="submit" value="FAVE THIS" id="fave_submit" />
</form>

<p style="color:#adadad;font-size:11px;">Paste a URL into the box to fave it.</p>

<div style="font-size:11px;color:#666;margin-top:50px;">

<ul id="menu">
{% if browser.mobile %}
<li><a href="/faves">Recently faved items</a>.</li>
<li><a href="faves/me">Your faved items</a>.</li>
<li>All faves are public.</li>
{% else %}
<li>All faves are public.</li>
<li>There is <a href="/faves">a page with recently faved items</a>.</li>
<li>There is <a href="faves/me">a page with all your faves</a>.</li>
<li>You can <a href="/export">export all of your faves</a>.</li>

<li style="margin-top:15px;">Here's a list of what <a href="/about">can be faved</a>.</li>

<li style="margin-top:15px;">You can also fave something by going to:<br />&#160;&#160;&#160;&#160;<a style="font-style:italic;" href="#" onclick="alert('Silly rabbit! You can\'t fave \'SOME_FLICKR_URL\'. You need to include a real-live Flickr URL.');return false;">http://thingsicantfave.appspot.com?url=SOME_FLICKR_URL</a></li>

{% endif %}

</ul>
</div>

{% include "inc_foot.html" %}
